.gla-experience-rating-banner {
	.gla-experience-rating-banner__text {
		margin: 0 0 $grid-unit-20;
	}

	.gla-experience-rating-banner__actions {
		display: flex;
		gap: $grid-unit-15;
	}
}

@media (max-width: $break-mobile) {
	.gla-experience-rating-banner__feedback-modal {
		margin: auto;
		max-height: 300px;
	}
}
