.gla-paid-features {
	@media (max-width: $break-small) {
		&__content {
			flex-direction: column;
			gap: $grid-unit-20;
		}
	}

	&__feature-list {
		display: flex;
		flex-direction: column;
		gap: $grid-unit-20;
		line-height: $gla-line-height-smaller;
		color: $gray-800;
		text-align: left;

		.gridicon {
			fill: #5ec862;
		}
	}

	.gla-free-ad-credit-claim {
		text-align: left;
		background-color: $white;
		display: flex;
		align-items: center;
		gap: calc(var(--main-gap) / 3 * 2);
		padding: 16px 12px;
		color: #1e1e1e;
		font-size: $gla-font-base;

		.gridicon {
			fill: #5ec862;
		}
	}

	.components-button {
		align-self: flex-end;
	}
}
