@import "@wordpress/dataviews/build-style/style.css";

.gla-price-benchmark__card .app-tab-nav:first-child {
	padding: 0 $grid-unit-40;
}

.gla-price-benchmark__comparison-chart {
	margin: $grid-unit-40 0;
}

.gla-price-benchmark-suggestions {

	.dataviews-view-table-header-button {
		font-size: $gla-font-base;
		font-weight: 600;
		line-height: $gla-line-height-smaller;
		text-transform: capitalize;
	}

	.gla-tooltip__children-container {
		border-bottom: 1px dashed currentcolor;
	}

	th:not(:first-child):not(:has(.gla-price-benchmark-table-header__price-change-effectiveness)) {
		text-align: right;
	}

	td > .dataviews-view-table__cell-content-wrapper:not(:has(.gla-badge)) {
		justify-content: flex-end;
	}
}

.gla-price-benchmark-table__image {
	width: 100%;
}

.gla-price-benchmark-table__regular-price {
	color: $gray-900;
}
