.gla-google-combo-account-card--connected {

	.gla-account-card__description {
		gap: 0;
	}

	.gla-connected-accounts-actions {
		@media (min-width: $break-small) {
			margin-left: auto;

			// 40px is the icon size and $grid-unit-20 is 16px for the gap between flex items.
			width: calc(100% - 40px - #{$grid-unit-20});
		}
	}

	&:has(.gla-connected-accounts-actions) .components-card-body:last-of-type {
		padding: $grid-unit-10;
	}
}
